@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- BT - JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <title>Dashboard</title>
</head>
<body>

    <!-- BT - JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <div class="d-flex flex-column" style="background-color: #ffb458; height:100%;">

        <header>
            <nav class="navbar navbar-expand-lg" style="background-color: #ffb458; height:100%;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Home/Index">Admin - Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/UserIndex">User - Side</a>
                            </li>                         
                        </ul>
                        <img src="https://st4.depositphotos.com/22705892/29149/v/450/depositphotos_291497556-stock-illustration-creative-food-logo-simple-pizza.jpg" style="height:60px;"/>
                    </div>
                </div>
            </nav>
        </header>

        <main>

            <div class="container-fluid d-flex" style="justify-content:center; align-items:center; margin-bottom:50px; height: 350px; background-image:url('https://cdn.vox-cdn.com/thumbor/U6I_bfCqJUViBncjqYIs2orzivk=/0x188:787x778/920x613/filters:focal(0x188:787x778):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/48635261/garlic-knots-pizza.0.0.jpeg'); background-size: cover; background-position: center; text-align: center; color: white;">
                <div style="border-radius: 50px; background-color:rgb(16 21 31 / 62%); width:650px; height:80%;">
                    <p style="font-size: 60px;">A Famo Strana Pizzeria</p>
                    <p style="font-size: 30px;;">Pizze assurde dal mondo, scelte di giornata!</p>
                </div>
            </div>
                    <!-- TABELLA -->

                    <div class="d-flex" style="justify-content: center">
                         <h2 style="color: white">Menu Pizze assurde di oggi!</h2>
                    </div>
                    
                    <div class="p-3">
                        <table class="table" style="color: white">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome:</th>
                                    <th scope="col">Ingredienti:</th>
                                    <th scope="col">Prezzo:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Pizza: pe' mare e pe' tera</td>
                                    <td><p>Pomodori Pizza Pasta Mandolina Roba Peperoni</p></td>
                                    <td>6 $</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Pizza: Sfocata</td>
                                    <td><p>Pomodori Pizza Pasta Mandolina Roba Peperoni</p></td>
                                    <td>25 $</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Pizza: La Pesantissima</td>
                                    <td><p>Pomodori Pizza Pasta Mandolina Roba Peperoni</p></td>
                                    <td>8 $</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
        </main>
        <footer>
            <div class="container" style="border-radius: 50% 50% 0px 0px; height: 100px; background-color: #be3500; justify-contentend">
            </div>
        </footer>
    </div>



    <!-- DENTRO CARTELLA CSS C'E' IL FILE TEST -->

</body>
</html>